.verticalcard_wrapper {
    box-shadow: rgba(255, 255, 255, 0.25) 0px 50px 100px -20px, rgba(255, 255, 255, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;


}

.verticlcard_title {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}