.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    padding: 10px 20px;
    flex-direction: row;
    font-family: "Nunito", sans-serif;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.nav {
    display: flex;
    align-items: center;
}

.link {
    text-decoration: none;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.menu-icon {
    display: none;

    font-size: 24px;
    cursor: pointer;
}

/* Media query for smaller devices */
@media only screen and (max-width: 768px) {
    .link {
        display: none;
    }

    .menu-icon {
        display: block;
    }
    .header {
        flex-direction: row-reverse;
    }
    .quiz_link {
        width: 100%;
    }
}
/* Add CSS to hide the dropdown menu by default */
.dropdown-menu {
    display: none;
}

/* Add CSS for the dropdown menu */
.dropdown-menu.show {
    display: flex;
    flex-direction: column;
    top: 50px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    background-color: white;
    padding: 10px;

    width: 300px;
    height: 90dvh;
    z-index: 999;
    position: absolute;
    /* top: 0; */
    left: 0;
    justify-content: left;
    justify-items: flex-start;
    gap: 5rem;
    overflow-y: scroll;
}

/* Style for dropdown links */
.dropdown-link {
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}
@media only screen and (min-width: 769px) {
    .dropdown-menu {
        display: none;
    }
    .dropdown-menu.show {
        display: none;
    }
}
