main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    /* padding: 1rem 4rem 0rem 4rem; */
    background-color: white;

    @apply w-full overflow-y-hidden;
}

.content_wrapper {
    /* @apply w-full h-fit flex flex-col items-center lg:flex-row lg:items-start justify-start gap-4 ; */
    @apply w-full h-full px-2 flex flex-col justify-start items-center md:items-start md:grid md:p-0 gap-4;
    grid-template-columns: 1fr 3fr 1fr;
}

.rightbar, .leftbar {
    @apply w-full max-h-[1200px]  min-w-[300px];
}

.leftbar {
    padding: 1rem;
    border-top-right-radius: 8px;
    /* border-bottom-right-radius: 8px; */
    overflow-y: auto;
    @apply hidden lg:flex overflow-auto;
}

.rightbar {
    padding: 1rem;
    border-top-left-radius: 8px;
    /* border-bottom-left-radius: 8px; */
    overflow-y: auto;

}


.content {
    @apply h-full w-full pb-4 lg:pb-4;
}


