.footer {
    @apply w-full  h-fit bg-tertiary flex flex-col justify-start items-center mt-4 py-2 gap-8;
}

.footer_col_container {
    width: 100%;
    justify-content: space-between;
    justify-items: center;
    @apply flex flex-col lg:flex-row flex-wrap gap-10 px-5 py-5 lg:justify-start ;
}

.footer_about_container{
    @apply  overflow-hidden;
}

.footer_nav_container {
    @apply grid grid-cols-2 gap-4 lg:flex flex-wrap flex-1 justify-between;
}

.footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: .1rem;

    @apply w-full lg:w-fit ;

    li {
        @apply pt-2
    }


}


.footer_col_heading {
    @apply text-footer-title font-bold mb-1;
}

.footer_link {
    /* font-weight: 200; */

    @apply text-footer text-sm;
    /* @apply text-blue-700 */
}
.footer_copyright {
    @apply text-footer text-sm text-center w-full flex-1;
    /* @apply text-blue-700 */
}

@media only screen and (max-width: 960px) {
    /* .footer {
        display: none;
    } */
}
