.whatsapp-icon-cont {
    height: 100%;
    display: block;
    color: white;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}
.whatsapp-icon {
    color: white;
    height: 30px;
    width: 100%;
}
@media only screen and (max-width: 500px) {
    .whatsapp-icon {
        width: 50%;
    }
}
.twitter-icon-cont {
    height: 100%;
    display: block;
    color: white;
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: center;
}
.twitter-icon {
    color: white;
    height: 30px;
    width: 100%;
}
@media only screen and (max-width: 500px) {
    .twitter-icon {
        width: 50%;
    }
}
.facebook-icon-cont {
    height: 100%;
    display: block;
    color: white;
    background-color: #4267b2;

    display: flex;
    align-items: center;
    justify-content: center;
}
.facebook-icon {
    color: white;
    height: 30px;
    width: 100%;
}
@media only screen and (max-width: 500px) {
    .facebook-icon {
        width: 50%;
    }
}
.telegram-icon-cont {
    height: 100%;
    display: block;
    color: white;
    background-color: #0088cc;

    display: flex;
    align-items: center;
    justify-content: center;
}
.telegram-icon {
    color: white;
    height: 30px;
    width: 100%;
}
@media only screen and (max-width: 500px) {
    .telegram-icon {
        width: 50%;
    }
}
.messenger-icon-cont {
    height: 100%;
    display: block;
    color: white;
    background-color: #448aff;

    display: flex;
    align-items: center;
    justify-content: center;
}
.messenger-icon {
    color: white;
    height: 30px;
    width: 100%;
}
@media only screen and (max-width: 500px) {
    .messenger-icon {
        width: 50%;
    }
}
.printer-icon-cont {
    height: 100%;
    display: block;
    color: white;
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: center;
}
.printer-icon {
    color: white;
    width: 100%;
    height: 30px;
}
@media only screen and (max-width: 500px) {
    .printer-icon {
        width: 50%;
    }
}
.icon-hover {
    font-size: 16px;
}
.icon-hover:hover {
    opacity: 0.7;
}
